*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body,html{
    height: 100%;
    width: 100%;
}
#page1{
width: 100%;
height: 100%;
background-color: rgb(168, 211, 248);
display: flex;
justify-content: center;
align-items: center;
}
#page2{
    width: 100%;
    height: 100%;
    background-color: rgb(100, 177, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3{
    width: 100%;
    height: 100%;
    background-color: rgb(11, 134, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#page4{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 89, 167);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#page5{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 40, 75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#box{
    width: 250px;
    height: 250px;
    background-color: blueviolet;
}
#page3 h2{
font-size: 60px;
background-color: orange;
margin-bottom: 12px;
}
#page3 h3{
font-size: 50px;
background-color: orangered;
}